 * {
     box-sizing: border-box;
 }


 html {
    font-size: 16px;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    color: green;
}

a {
    color: green;
    text-decoration: none;
}

.image-container img {
    display: inline;
    max-width: 100%;
}

/* Nav bar */

nav {
    z-index: 100;
    background-color: black;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    display: flex;
    align-content:flex-end;
}

.header {
    display: block;
    align-items: center;
    padding: 1.8 rem;
}

 nav .logo{
     flex: 1;
     padding-left: 15px;
    display: flex;
    align-items: center;
}

nav ul .navmenu {
    display: flex;
    list-style-type: none;
    overflow: hidden;

}

 .navmenu li  {
     display: inline-block;
     padding-left: 3rem;
     list-style-type: none;
     padding-right: 15px;
     
}

.navmenu a {
    display: inline;
    position: relative;
    width: 100%;
    padding: 7px;
    float: right; 
    
}


/* Banner Section */
/*
main {
   position: relative;
    width: 100%;
    height: 50px;
}
*/
main .bannertext {
    position: relative;
    background-image: url(https://c.tenor.com/KBe_nw4IL2QAAAAC/matrix-code.gif);
    background-repeat: repeat;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
    font-size: 25rem;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    -webkit-font-smoothing: antialiased;



}


/* Gallery Section */

div.gallery img {
    position: relative;
    display:inline-flex;
    justify-content: center;
    width: 250px;
    height: auto;
    align-items: baseline;
    margin-top: 10px;
    margin-bottom: auto;
    background-color: black;
    
}

